/*
 * Author: Carey Chow
 * Version: 1.0
 */

 .navbar {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #2c3e50;
    border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #222222;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

hr.star-light {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    border-color: #fff;
}

hr.star-light:after {
    content: "\f006";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: "FontAwesome";
    font-size: 2em;
    color: #fff;
    background-color: #18bc9c;
}

.ww {
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: #18bc9c;
}

.pt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pt .fa-2 {
  font-size: 2em;
}
.pt .fa-3 {
  font-size: 4em;
}
.pt .fa-4 {
  font-size: 7em;
}
.pt .fa-5 {
  font-size: 12em;
}
.pt .fa-6 {
  font-size: 20em;
}

.footer {
    background-color: #2c3e50;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer p {
    color: white;
}

.footer h4 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer-below {
    padding: 15px 0;
    background-color: #233140;
    color: white;
}